.labeled {
    margin: 1em 0 1em 0;
    position: relative;
  }
  .labeled label {
    position: absolute;
    color: #666;
    background: #fff;
    padding: 0 .5em;
    font-size: .8em;
    top: -.6em;
    left: .5em;
  }
  .labeled input {
    padding: .5em;
  }
  .labeled textarea {
    padding: .5em;
  }
  .labeled select {
    padding: .5em;
  } 